<perfect-scrollbar>
    <style>
        perfect-scrollbar{
            min-width: 100%;
            width: auto;
            overflow-x: visible;
}
    </style>
  <mat-nav-list style="padding-top: 0px;" style="height: 100%;display: flex;flex-direction: column;">

        <app-sidenav-item [isMobile]="isMobile" *ngFor="let _data of data" [_data]="_data"></app-sidenav-item>

        <div class="relative flex min-w-full h-full">
            <div class="w-64 h-full border-r border-gray-600" style="background-color: #3d4853;">
            </div>
            <div></div>
        </div>

      </mat-nav-list>
</perfect-scrollbar>
