<div [ngClass]="{ 'm-2 w-96': isGridListing, 'mb-2 w-full' : !isGridListing }">

  <header class="h-10 bg-blue-800 w-full flex items-center">
    <h1 class="text-white mx-2 my-0" style="margin:0 8px;">USER_FULLNAME {{ index }}</h1>
    <span class="transition ml-auto mr-1 flex justify-center h-8 w-8 items-center rounded-full hover:border border-gray-500 bg-transparent hover:bg-gray-200 hover:bg-opacity-25 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white fill-current" viewBox="0 0 24 24" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
    </span>
    <div>

    </div>
  </header>
  <div class="bg-white h-36">

  </div>

</div>
