<div class="min-h-full w-full flex flex-col">

    <div class="h-60 w-full">

    </div>

    <div class="flex justify-center flex-wrap border-t border-gray-300">
        <a class="card transition-all duration-200 shadow text-black hover:text-white hover:bg-blue-800 border border-gray-400 rounded" routerLink="grades">
            <span>Grades</span>
        </a>
        <a class="card transition-all duration-200 shadow text-black hover:text-white hover:bg-blue-800 border border-gray-400 rounded" routerLink="fonctions">
            <span>Fonctions</span>
        </a>
        <a class="card transition-all duration-200 shadow text-black hover:text-white hover:bg-blue-800 border border-gray-400 rounded" routerLink="categories">
            <span>Catégories</span>
        </a>
        <a class="card transition-all duration-200 shadow text-black hover:text-white hover:bg-blue-800 border border-gray-400 rounded" routerLink="echelon">
            <span>Echelons</span>
        </a>
        <a class="card transition-all duration-200 shadow text-black hover:text-white hover:bg-blue-800 border border-gray-400 rounded" routerLink="indemnités">
            <span>Indemnités</span>
        </a>
        <a class="card transition-all duration-200 shadow text-black hover:text-white hover:bg-blue-800 border border-gray-400 rounded" routerLink="direction">
            <span>Direction</span>
        </a>
        <a class="card transition-all duration-200 shadow text-black hover:text-white hover:bg-blue-800 border border-gray-400 rounded" routerLink="services">
            <span>Services</span>
        </a>
        <a class="card transition-all duration-200 shadow text-black hover:text-white hover:bg-blue-800 border border-gray-400 rounded" routerLink="departement">
            <span>Departement</span>
        </a>
    </div>
</div>